.info {
    font-size: 1.2rem;
}

// Codigo para manter o floating label no centro do input .input-label-placement-floating
.input-label-placement-floating {
    &:not(.has-value):not(.has-focus) div {
        transform: translateY(-50%);
        transition: transform 0.2s ease;
    }
}

// Codigo para manter o floating label no centro do select .select-label-placement-floating
.select-label-placement-floating {
    &:not(.has-value):not(.select-expanded) div {
        transform: translateY(-50%);
        transition: transform 0.2s ease;
    }
}