<ion-app>
  <ion-menu contentId="main-content" #leftmenu>
    <ion-header>
      <ion-toolbar color="primeiro">
        <ion-title>Direct Condo</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding-top" [fullscreen]="true" #ListaMenu>
      <ion-list *ngIf="logado" >
        <ion-searchbar show-clear-button="focus" (ionInput)="handleInput($event)" #PesquisaMenu></ion-searchbar>

        <ion-item [button]="true" [routerLink]="['/']" (click)="OnClickLeftMenu()" data-item="Home">
          <ion-label><i class="bi bi-house"></i> Home</ion-label>
        </ion-item>
        <ion-item [button]="true" [routerLink]="['/residente']" (click)="OnClickLeftMenu()" data-item="Residente">
          <ion-label><i class="bi bi-person-circle"></i> Residente</ion-label>
        </ion-item>
        <ion-item [button]="true" [routerLink]="['/pessoas']" (click)="OnClickLeftMenu()" data-item="Pessoas">
          <ion-label><i class="bi bi-people-fill"></i> Pessoas</ion-label>
        </ion-item>
      </ion-list>


      <ion-list *ngIf="!logado">
        <ion-item [button]="true" [routerLink]="['/login']" (click)="OnClickLeftMenu()">
          <ion-label><i class="bi bi-box-arrow-in-right"></i> Login</ion-label>
        </ion-item>
        <ion-item [button]="true" [routerLink]="['/primeiroacesso']" (click)="OnClickLeftMenu()">
          <ion-label><i class="bi bi-person-add"></i> Primeiro Acesso</ion-label>
        </ion-item>
      </ion-list>

    </ion-content>

    <ion-footer collapse="fade">
      <ion-toolbar>
        <ion-row>
          <ion-toggle class="ion-margin" color="light" #darktoggle (ionChange)="toggleDarkMode()">
            <span style="padding-right: 0.4rem;">Modo Escuro</span>
            <i class="bi bi-brightness-high" id="sun"></i>
            <i class="bi bi-moon ion-hide" id="moon"></i>
          </ion-toggle>
        </ion-row>

        <ion-row *ngIf="logado">
          <ion-col style="margin-left: 0.65rem;">
            <ion-row>
              Usuario: {{ email }}
            </ion-row>
            <ion-row>
              <ion-button (click)="Deslogar()" color="danger">
                <i class="bi bi-box-arrow-right"></i>
                <span style="padding-left: 0.3rem;">Sair</span>
              </ion-button>
            </ion-row>
          </ion-col>

        </ion-row>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>