<ion-app>
  <ion-menu contentId="main-content" #leftmenu>
    <ion-header>
      <ion-toolbar color="primeiro">
        <ion-title>Direct Condo</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding-top">
      <ion-list>
        <ion-item [button]="true" [routerLink]="['/']" (click)="OnClickLeftMenu()">
          <ion-label><i class="bi bi-house"></i> Home</ion-label>
        </ion-item>
        <ion-item [button]="true" [routerLink]="['/primeiroacesso']" (click)="OnClickLeftMenu()">
          <ion-label><i class="bi bi-person-add"></i> Primeiro Acesso</ion-label>
        </ion-item>
        <ion-item [button]="true" [routerLink]="['/residente']" (click)="OnClickLeftMenu()">
          <ion-label><i class="bi bi-person-circle"></i> Residente</ion-label>
        </ion-item>
        <ion-item [button]="true" [routerLink]="['/login']" (click)="OnClickLeftMenu()">
          <ion-label><i class="bi bi-box-arrow-in-right"></i> Login</ion-label>
        </ion-item>
      </ion-list>
      <ion-toggle class="ion-margin" color="light" #darktoggle (ionChange)="toggleDarkMode()">Modo Escuro</ion-toggle>
    </ion-content>

    
    
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
