/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


html {
    --ion-safe-area-left: 25px;
	--ion-dynamic-font: var(--ion-default-dynamic-font);
	--ion-font-family: 'Poppins', sans-serif;
}

.ion-color-basic {
	--ion-color-base: var(--ion-color-basic);
	--ion-color-base-rgb: var(--ion-color-basic-rgb);
	--ion-color-contrast: var(--ion-color-basic-contrast);
	--ion-color-contrast-rgb: var(--ion-color-basic-contrast-rgb);
	--ion-color-shade: var(--ion-color-basic-shade);
	--ion-color-tint: var(--ion-color-basic-tint);
}

.ion-color-primeiro {
	--ion-color-base: var(--ion-color-primeiro);
	--ion-color-base-rgb: var(--ion-color-primeiro-rgb);
	--ion-color-contrast: var(--ion-color-primeiro-contrast);
	--ion-color-contrast-rgb: var(--ion-color-primeiro-contrast-rgb);
	--ion-color-shade: var(--ion-color-primeiro-shade);
	--ion-color-tint: var(--ion-color-primeiro-tint);
}

.ion-color-secundario {
	--ion-color-base: var(--ion-color-secundario);
	--ion-color-base-rgb: var(--ion-color-secundario-rgb);
	--ion-color-contrast: var(--ion-color-secundario-contrast);
	--ion-color-contrast-rgb: var(--ion-color-secundario-contrast-rgb);
	--ion-color-shade: var(--ion-color-secundario-shade);
	--ion-color-tint: var(--ion-color-secundario-tint);
}

.ion-color-fundo {
	--ion-color-base: var(--ion-color-fundo);
	--ion-color-base-rgb: var(--ion-color-fundo-rgb);
	--ion-color-contrast: var(--ion-color-fundo-contrast);
	--ion-color-contrast-rgb: var(--ion-color-fundo-contrast-rgb);
	--ion-color-shade: var(--ion-color-fundo-shade);
	--ion-color-tint: var(--ion-color-fundo-tint);
}

.ion-color-info {
	--ion-color-base: var(--ion-color-info);
	--ion-color-base-rgb: var(--ion-color-info-rgb);
	--ion-color-contrast: var(--ion-color-info-contrast);
	--ion-color-contrast-rgb: var(--ion-color-info-contrast-rgb);
	--ion-color-shade: var(--ion-color-info-shade);
	--ion-color-tint: var(--ion-color-info-tint);
}

.basic{
    text-align: center;
    /*background-color: #d9edf7;*/
    --ion-color: #31708f;
    background-image: linear-gradient(to bottom,#d9edf7 0,#c4e3f3 100%);
}
  
