<ion-header [translucent]="true">
  <ion-toolbar color="primeiro">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="fundo">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Editar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <!-- Editar Card -->
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="11" size="12">
        <ion-card>
          <ion-card-header class="ion-text-center" color="secondary">
            <ion-card-title><i class="bi bi-person-fill-gear"></i> Editar Pessoa</ion-card-title>
          </ion-card-header>

          <ion-card-content class="ion-margin">
            <ion-grid>
              <ion-row class="info">
                <ion-col size="12" size-md="6" push-md="6">
                  <div [hidden]="false">
                    <form [formGroup]="formEdit">

                      <div class="ion-margin-bottom">
                        <ion-input formControlName="Nome" labelPlacement="floating" fill="outline" #Nome
                          color="secondary" style="">
                          <div slot="label">Nome</div>
                        </ion-input>
                        <small *ngFor="let validation of validation_messages.Nome">
                          <ion-text color="danger"
                            *ngIf="isSubimitted && formEdit.get('Nome')?.hasError(validation.type)">
                            {{ validation.message }}
                          </ion-text>
                        </small>
                      </div>

                      <div class="ion-margin-bottom">
                        <ion-input formControlName="Cpf" labelPlacement="floating" fill="outline" #Cpf
                          color="secondary">
                          <div slot="label">CPF</div>
                        </ion-input>
                        <small *ngFor="let validation of validation_messages.Cpf">
                          <ion-text color="danger"
                            *ngIf="isSubimitted && formEdit.get('Cpf')?.hasError(validation.type)">
                            {{ validation.message }}
                          </ion-text>
                        </small>
                      </div>

                      <div class="ion-margin-bottom">
                        <ion-input formControlName="Rg" labelPlacement="floating" fill="outline" #Rg color="secondary">
                          <div slot="label">Rg</div>
                        </ion-input>
                        <small *ngFor="let validation of validation_messages.Rg">
                          <ion-text color="danger"
                            *ngIf="isSubimitted && formEdit.get('Rg')?.hasError(validation.type)">
                            {{ validation.message }}
                          </ion-text>
                        </small>
                      </div>

                      <div class="ion-margin-bottom">
                        <ion-select formControlName="Tipo" label="Tipo" label-placement="floating" fill="outline" #Tipo
                          color="secondary">
                          <ion-select-option value="RESIDENTE">RESIDENTE</ion-select-option>
                          <ion-select-option value="DEPENDENTE">DEPENDENTE</ion-select-option>
                          <ion-select-option value="VISITANTE">VISITANTE</ion-select-option>
                          <ion-select-option value="AGENTE">AGENTE</ion-select-option>
                          <ion-select-option value="PRESTADOR DE SERVIÇO">PRESTADOR DE SERVIÇO</ion-select-option>
                          <ion-select-option value="FUNCIONÁRIO">FUNCIONÁRIO</ion-select-option>
                          <ion-select-option value="LOCATÁRIO">LOCATÁRIO</ion-select-option>
                          <ion-select-option value="FUNCIONÁRIO CONDOMINIO">FUNCIONÁRIO CONDOMINIO</ion-select-option>
                          <ion-select-option value="PROPRIETÁRIO">PROPRIETÁRIO</ion-select-option>
                          <ion-select-option value="RESPONSÁVEL">RESPONSÁVEL</ion-select-option>
                          <ion-select-option value="EVENTO">EVENTO</ion-select-option>
                        </ion-select>
                        <small *ngFor="let validation of validation_messages.Tipo">
                          <ion-text color="danger"
                            *ngIf="isSubimitted && formEdit.get('Tipo')?.hasError(validation.type)">
                            {{ validation.message }}
                          </ion-text>
                        </small>
                      </div>

                      <div class="ion-margin-bottom">
                        <ion-input formControlName="DataNasc" labelPlacement="floating" fill="outline" #DataNasc
                          color="secondary">
                          <div slot="label">Data de Nascimento</div>
                        </ion-input>
                        <small *ngFor="let validation of validation_messages.DataNasc">
                          <ion-text color="danger"
                            *ngIf="isSubimitted && formEdit.get('DataNasc')?.hasError(validation.type)">
                            {{ validation.message }}
                          </ion-text>
                        </small>
                      </div>

                      <div class="ion-margin-bottom">
                        <ion-input formControlName="Email" labelPlacement="floating" fill="outline" #Email
                          color="secondary">
                          <div slot="label">E-mail</div>
                        </ion-input>
                        <small *ngFor="let validation of validation_messages.Email">
                          <ion-text color="danger"
                            *ngIf="isSubimitted && formEdit.get('Email')?.hasError(validation.type)">
                            {{ validation.message }}
                          </ion-text>
                        </small>
                      </div>

                      <div class="ion-margin-bottom">
                        <ion-input formControlName="Observacao" labelPlacement="floating" fill="outline" #Observacao
                          color="secondary">
                          <div slot="label">Observação</div>
                        </ion-input>
                        <small *ngFor="let validation of validation_messages.Observacao">
                          <ion-text color="danger"
                            *ngIf="isSubimitted && formEdit.get('Observacao')?.hasError(validation.type)">
                            {{ validation.message }}
                          </ion-text>
                        </small>
                      </div>
                    </form>
                  </div>
                </ion-col>

                <ion-col size="12" size-md="6" pull-md="6" class="ion-text-center">
                  <ion-label class="title">Imagem {{ pessoa.id }}</ion-label>
                  <div class="img">
                    <ion-img [src]="photoService.photos.webviewPath" alt="Imagem de Pessoa"></ion-img>
                  </div>
                  <!-- [src]="photoService.photos.webviewPath" -->
                  <ion-row>
                    <ion-col>
                      <ion-button color="secondary" (click)="TirarFoto()">
                        <i class="bi bi-camera-fill"></i>
                        <ion-label style="padding-left: 0.3rem;">Tirar Foto</ion-label>
                      </ion-button>

                      <ion-button color="secondary" id="open-modal">
                        <i class="bi bi-image-fill"></i>
                        <ion-label style="padding-left: 0.3rem;">Enviar Foto</ion-label>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>


          </ion-card-content>

          <ion-footer>
            <ion-toolbar color="light">
              <ion-row>
                <ion-col class="ion-text-center ion-text-md-end">
                  <ion-button color="secondary" (click)="SalvarBtn()">
                    <i class="bi bi-save"></i>
                    <ion-label style="padding-left: 0.3rem;">Salvar</ion-label>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-toolbar>
          </ion-footer>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Unidade Card -->
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="11" size="12">
        <ion-card class="collapse">
          <ion-card-header class="ion-text-center" color="primary" (click)="cardshow($event)">
            <ion-card-title style="width: 100%;">
              <ion-label><i class="bi bi-pin-map"></i> Unidade</ion-label>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="ion-margin">
              <ion-row class="ion-justify-content-end ion-margin">
                <ion-button color="primary">+</ion-button>
              </ion-row>
              <ion-row *ngIf="unidadeSource.data.length!=0" class="mat-elevation-z8">
                <mat-table [dataSource]="unidadeSource" matSort class="mat-table" #unidadeTable
                  #unidadeTableSort="matSort">

                  <!-- Unidade Coluna -->
                  <ng-container matColumnDef="local">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Local </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="local"> {{row.local}} </mat-cell>
                  </ng-container>


                  <!-- Ações Coluna -->
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="ion-justify-content-center"> Ações </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="ion-justify-content-center">
                      <div>
                        <ion-button color="" [routerLink]="['./edit', row.id]">
                          <i class="bi bi-pencil-fill"></i>
                        </ion-button>
                        <ion-button color="danger" [routerLink]="['/delete', row.id]">
                          <i class="bi bi-trash-fill"></i>
                        </ion-button>
                      </div>

                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="unidadeColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: unidadeColumns;"></mat-row>

                </mat-table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"
                  #unidadePaginator></mat-paginator>
              </ion-row>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Telefone Card -->
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="11" size="12">
        <ion-card class="collapse">
          <ion-card-header class="ion-text-center" color="primary" (click)="cardshow($event)">
            <ion-card-title><i class="bi bi-telephone"></i> Telefone</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="ion-margin">
              <ion-row class="ion-justify-content-end">
                <ion-button color="primary">+</ion-button>
              </ion-row>
              <ion-row *ngIf="telefoneSource.data.length!=0" class="mat-elevation-z8">
                <mat-table [dataSource]="telefoneSource" matSort class="mat-table" #telefoneTable
                  #telefoneTableSort="matSort">

                  <!-- Tipo Telefone Coluna -->
                  <ng-container matColumnDef="tipo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Telefone </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="tipo"> {{row.tipo}} </mat-cell>
                  </ng-container>

                  <!-- DDD Coluna -->
                  <ng-container matColumnDef="ddd">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> DDD </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="ddd"> {{row.ddd}} </mat-cell>
                  </ng-container>

                  <!-- Telefone Coluna -->
                  <ng-container matColumnDef="telefone">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Telefone </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="telefone"> {{row.telefone}} </mat-cell>
                  </ng-container>


                  <!-- Ações Coluna -->
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="ion-justify-content-center"> Ações </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="ion-justify-content-center">
                      <div>
                        <ion-button color="" [routerLink]="['./edit', row.id]">
                          <i class="bi bi-pencil-fill"></i>
                        </ion-button>
                        <ion-button color="danger" [routerLink]="['/delete', row.id]">
                          <i class="bi bi-trash-fill"></i>
                        </ion-button>
                      </div>

                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="telefoneColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: telefoneColumns;"></mat-row>

                </mat-table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"
                  #telefonePaginator></mat-paginator>
              </ion-row>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Endereço Card -->
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="11" size="12">
        <ion-card class="collapse">
          <ion-card-header class="ion-text-center" color="primary" (click)="cardshow($event)">
            <ion-card-title><i class="bi bi-houses"></i> Endereço</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="ion-margin">
              <ion-row class="ion-justify-content-end">
                <ion-button color="primary">+</ion-button>
              </ion-row>
              <ion-row *ngIf="enderecoSource.data.length!=0" class="mat-elevation-z8">
                <mat-table [dataSource]="enderecoSource" matSort class="mat-table" #enderecoTable
                  #enderecoTableSort="matSort">

                  <!-- CEP Coluna -->
                  <ng-container matColumnDef="cep">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [style.flex]="'1 0 0%'"> CEP </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="cep" [style.flex]="'1 0 0%'"> {{row.cep}} </mat-cell>
                  </ng-container>

                  <!-- Tipo Endereço Coluna -->
                  <ng-container matColumnDef="tipo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Endereço </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="tipo"> {{row.tipo}} </mat-cell>
                  </ng-container>

                  <!-- Endereço Coluna -->
                  <ng-container matColumnDef="endereco">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [style.flex]="'2 0 0%'"> Endereço
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="endereco" [style.flex]="'2 0 0%'"> {{row.endereco}}
                    </mat-cell>
                  </ng-container>

                  <!-- Numero Coluna -->
                  <ng-container matColumnDef="numero">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Número </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="numero"> {{row.numero}} </mat-cell>
                  </ng-container>

                  <!-- Bairro Coluna -->
                  <ng-container matColumnDef="bairro">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Bairro </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="bairro"> {{row.bairro}} </mat-cell>
                  </ng-container>

                  <!-- Cidade Coluna -->
                  <ng-container matColumnDef="cidade">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Cidade </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="cidade"> {{row.cidade}} </mat-cell>
                  </ng-container>

                  <!-- Complemento Coluna -->
                  <ng-container matColumnDef="complemento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Complemento </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="complemento"> {{row.complemento}} </mat-cell>
                  </ng-container>


                  <!-- Ações Coluna -->
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="ion-justify-content-center" [style.flex]="'2 0 0%'"> Ações
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="ion-justify-content-center" [style.flex]="'2 0 0%'">
                      <div>
                        <ion-button color="" [routerLink]="['./edit', row.id]">
                          <i class="bi bi-pencil-fill"></i>
                        </ion-button>
                        <ion-button color="danger" [routerLink]="['/delete', row.id]">
                          <i class="bi bi-trash-fill"></i>
                        </ion-button>
                      </div>

                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="enderecoColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: enderecoColumns;"></mat-row>

                </mat-table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"
                  #enderecoPaginator></mat-paginator>
              </ion-row>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Veículos Card -->
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="11" size="12">
        <ion-card class="collapse">
          <ion-card-header class="ion-text-center" color="primary" (click)="cardshow($event)">
            <ion-card-title><i class="bi bi-car-front-fill"></i> Veículos</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="ion-margin">
              <ion-row class="ion-justify-content-end">
                <ion-button color="primary">+</ion-button>
              </ion-row>
              <ion-row *ngIf="veiculoSource.data.length!=0" class="mat-elevation-z8">
                <mat-table [dataSource]="veiculoSource" matSort class="mat-table" #veiculoTable
                  #veiculoTableSort="matSort">

                  <!-- Modelo Coluna -->
                  <ng-container matColumnDef="modelo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="modelo"> {{row.modelo}} </mat-cell>
                  </ng-container>

                  <!-- Fabricante Coluna -->
                  <ng-container matColumnDef="fabricante">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Fabricante </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="fabricante"> {{row.fabricante}} </mat-cell>
                  </ng-container>

                  <!-- Cor Coluna -->
                  <ng-container matColumnDef="cor">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Cor </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="cor"> {{row.cor}} </mat-cell>
                  </ng-container>

                  <!-- Placa Coluna -->
                  <ng-container matColumnDef="placa">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Placa </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="placa"> {{row.placa}} </mat-cell>
                  </ng-container>


                  <!-- Ações Coluna -->
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="ion-justify-content-center"> Ações </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="ion-justify-content-center">
                      <div>
                        <ion-button color="" [routerLink]="['./edit', row.id]">
                          <i class="bi bi-pencil-fill"></i>
                        </ion-button>
                        <ion-button color="danger" [routerLink]="['/delete', row.id]">
                          <i class="bi bi-trash-fill"></i>
                        </ion-button>
                      </div>

                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="veiculoColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: veiculoColumns;"></mat-row>

                </mat-table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"
                  #veiculoPaginator></mat-paginator>
              </ion-row>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Vínculos Card -->
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="11" size="12">
        <ion-card class="collapse">
          <ion-card-header class="ion-text-center" color="primary" (click)="cardshow($event)">
            <ion-card-title><i class="bi bi-diagram-2-fill"></i> Vínculos</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="ion-margin">
              <ion-row class="ion-justify-content-end">
                <ion-button color="primary">+</ion-button>
              </ion-row>
              <ion-row *ngIf="vinculoSource.data.length!=0" class="mat-elevation-z8">
                <mat-table [dataSource]="vinculoSource" matSort class="mat-table" #vinculoTable
                  #vinculoTableSort="matSort">

                  <!-- Nome Coluna -->
                  <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="nome"> {{row.nome}} </mat-cell>
                  </ng-container>

                  <!-- Tipo Coluna -->
                  <ng-container matColumnDef="tipo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="tipo"> {{row.tipo}} </mat-cell>
                  </ng-container>

                  <!-- Descrição Coluna -->
                  <ng-container matColumnDef="descricao">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="descricao"> {{row.descricao}} </mat-cell>
                  </ng-container>

                  <!-- Ações Coluna -->
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="ion-justify-content-center"> Ações </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="ion-justify-content-center">
                      <div>
                        <ion-button color="" [routerLink]="['./edit', row.id]">
                          <i class="bi bi-pencil-fill"></i>
                        </ion-button>
                        <ion-button color="danger" [routerLink]="['/delete', row.id]">
                          <i class="bi bi-trash-fill"></i>
                        </ion-button>
                      </div>

                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="vinculoColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: vinculoColumns;"></mat-row>

                </mat-table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"
                  #vinculoPaginator></mat-paginator>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Empresa Card -->
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="11" size="12">
        <ion-card class="collapse">
          <ion-card-header class="ion-text-center" color="primary" (click)="cardshow($event)">
            <ion-card-title><i class="bi bi-building"></i> Empresa</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="ion-margin">
              <ion-row class="ion-justify-content-end">
                <ion-button color="primary">+</ion-button>
              </ion-row>
              <ion-row *ngIf="empresaSource.data.length!=0" class="mat-elevation-z8">
                <mat-table [dataSource]="empresaSource" matSort class="mat-table" #empresaTable
                  #empresaTableSort="matSort">

                  <!-- Unidade Coluna -->
                  <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="nome"> {{row.nome}} </mat-cell>
                  </ng-container>


                  <!-- Ações Coluna -->
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="ion-justify-content-center"> Ações </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="ion-justify-content-center">
                      <div>
                        <ion-button color="" [routerLink]="['./edit', row.id]">
                          <i class="bi bi-pencil-fill"></i>
                        </ion-button>
                        <ion-button color="danger" [routerLink]="['/delete', row.id]">
                          <i class="bi bi-trash-fill"></i>
                        </ion-button>
                      </div>

                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="empresaColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: empresaColumns;"></mat-row>

                </mat-table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"
                  #empresaPaginator></mat-paginator>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Agenda Card -->
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="11" size="12">
        <ion-card class="collapse">
          <ion-card-header class="ion-text-center" color="primary" (click)="cardshow($event)">
            <ion-card-title><i class="bi bi-calendar-week"></i> Agenda</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="ion-margin">
              <ion-row class="ion-justify-content-end">
                <ion-button color="primary">+</ion-button>
              </ion-row>
              <ion-row *ngIf="agendaSource.data.length!=0" class="mat-elevation-z8">
                <mat-table [dataSource]="agendaSource" matSort class="mat-table" #agendaTable
                  #agendaTableSort="matSort">

                  <!-- Descricao Coluna -->
                  <ng-container matColumnDef="descricao">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Descricao </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="descricao"> {{row.descricao}} </mat-cell>
                  </ng-container>

                  <!-- Tipo Coluna -->
                  <ng-container matColumnDef="tipo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="tipo"> {{row.tipo}} </mat-cell>
                  </ng-container>

                  <!-- Inicio Coluna -->
                  <ng-container matColumnDef="inicio">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Início </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="inicio"> {{row.inicio}} </mat-cell>
                  </ng-container>

                  <!-- Fim Coluna -->
                  <ng-container matColumnDef="fim">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Fim </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="fim"> {{row.fim}} </mat-cell>
                  </ng-container>


                  <!-- Ações Coluna -->
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="ion-justify-content-center"> Ações </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="ion-justify-content-center">
                      <div>
                        <ion-button color="" [routerLink]="['./edit', row.id]">
                          <i class="bi bi-pencil-fill"></i>
                        </ion-button>
                        <ion-button color="danger" [routerLink]="['/delete', row.id]">
                          <i class="bi bi-trash-fill"></i>
                        </ion-button>
                      </div>

                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="agendaColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: agendaColumns;"></mat-row>

                </mat-table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"
                  #agendaPaginator></mat-paginator>
              </ion-row>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- Modal de Foto -->
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Mudar Foto</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <input type="file" (change)="loadImageFromDevice($event)" id="file-input" accept="image/png, image/jpeg">
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>