.info {
    font-size: 1.2rem;
}

.title {
    color: var(--ion-color-dark);
    //font-weight: bold;
}

/*.teste3::after {



    &:not(.show) {
        transform: rotate(90deg);
    }
}*/

.img {
    ion-img {
        margin: auto;
        display: block;
        align-items: center;
        max-width: 20rem;
    }
}

// Codigo para manter o floating label no centro do input .input-label-placement-floating
.input-label-placement-floating {
    &:not(.has-value):not(.has-focus) div {
        transform: translateY(-50%);
        transition: transform 0.2s ease;
    }
}


/*.select-label-placement-floating {
    background-color: red !important;

    &:not(.has-value):not(.has-focus) div {
        transform: translateY(-50%);
        transition: transform 0.2s ease;
    }

}*/


// Codigo para collapse de cards
.collapse {
    ion-card-header {
        ion-card-title::after {
            content: "<";
            float: right;
            transition: transform 0.3s ease-in-out;
        }
    }

    &.show{
        ion-card-header {
            ion-card-title::after {
                transform: rotate(-90deg);
                transition: transform 0.3s ease-in-out;
            }
        }
    }

    ion-card-content {
        overflow: hidden;
    }

    &:not(.show)ion-card-content {
        display: none;
        max-height: 0;
        transition: 0.2s all linear;
    }
}