<ion-header [translucent]="true">
  <ion-toolbar color="primeiro">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="fundo">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Editar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="11" size="12">
        <ion-card>
          <ion-card-header class="ion-text-center" color="secondary">
            <ion-card-title><i class="bi bi-person-fill-gear"></i> Editar Pessoa</ion-card-title>
          </ion-card-header>

          <ion-card-content class="ion-margin">
            <ion-grid>
              <ion-row class="info">
                <ion-col size="12" size-md="6" push-md="6">
                  <div [hidden]="false">
                    <form [formGroup]="formEdit">

                      <div class="ion-margin-bottom">
                        <ion-input formControlName="Nome" labelPlacement="floating" fill="outline" #Nome
                          color="secondary" style="">
                          <div slot="label">Nome</div>
                        </ion-input>
                        <small *ngFor="let validation of validation_messages.Nome">
                          <ion-text color="danger"
                            *ngIf="isSubimitted && formEdit.get('Nome')?.hasError(validation.type)">
                            {{ validation.message }}
                          </ion-text>
                        </small>
                      </div>

                      <div class="ion-margin-bottom">
                        <ion-input formControlName="Cpf" labelPlacement="floating" fill="outline" #Cpf
                          color="secondary">
                          <div slot="label">CPF</div>
                        </ion-input>
                        <small *ngFor="let validation of validation_messages.Cpf">
                          <ion-text color="danger"
                            *ngIf="isSubimitted && formEdit.get('Cpf')?.hasError(validation.type)">
                            {{ validation.message }}
                          </ion-text>
                        </small>
                      </div>

                      <div class="ion-margin-bottom">
                        <ion-input formControlName="Rg" labelPlacement="floating" fill="outline" #Rg color="secondary">
                          <div slot="label">Rg</div>
                        </ion-input>
                        <small *ngFor="let validation of validation_messages.Rg">
                          <ion-text color="danger"
                            *ngIf="isSubimitted && formEdit.get('Rg')?.hasError(validation.type)">
                            {{ validation.message }}
                          </ion-text>
                        </small>
                      </div>

                      <div class="ion-margin-bottom">
                        <ion-select formControlName="Tipo" label="Tipo" label-placement="floating" fill="outline" #Tipo
                          color="secondary">
                          <ion-select-option value="RESIDENTE">RESIDENTE</ion-select-option>
                          <ion-select-option value="DEPENDENTE">DEPENDENTE</ion-select-option>
                          <ion-select-option value="VISITANTE">VISITANTE</ion-select-option>
                          <ion-select-option value="AGENTE">AGENTE</ion-select-option>
                          <ion-select-option value="PRESTADOR DE SERVIÇO">PRESTADOR DE SERVIÇO</ion-select-option>
                          <ion-select-option value="FUNCIONÁRIO">FUNCIONÁRIO</ion-select-option>
                          <ion-select-option value="LOCATÁRIO">LOCATÁRIO</ion-select-option>
                          <ion-select-option value="FUNCIONÁRIO CONDOMINIO">FUNCIONÁRIO CONDOMINIO</ion-select-option>
                          <ion-select-option value="PROPRIETÁRIO">PROPRIETÁRIO</ion-select-option>
                          <ion-select-option value="RESPONSÁVEL">RESPONSÁVEL</ion-select-option>
                          <ion-select-option value="EVENTO">EVENTO</ion-select-option>
                        </ion-select>
                        <small *ngFor="let validation of validation_messages.Tipo">
                          <ion-text color="danger"
                            *ngIf="isSubimitted && formEdit.get('Tipo')?.hasError(validation.type)">
                            {{ validation.message }}
                          </ion-text>
                        </small>
                      </div>

                      <div class="ion-margin-bottom">
                        <ion-input formControlName="DataNasc" labelPlacement="floating" fill="outline" #DataNasc
                          color="secondary">
                          <div slot="label">Data de Nascimento</div>
                        </ion-input>
                        <small *ngFor="let validation of validation_messages.DataNasc">
                          <ion-text color="danger"
                            *ngIf="isSubimitted && formEdit.get('DataNasc')?.hasError(validation.type)">
                            {{ validation.message }}
                          </ion-text>
                        </small>
                      </div>

                      <div class="ion-margin-bottom">
                        <ion-input formControlName="Email" labelPlacement="floating" fill="outline" #Email
                          color="secondary">
                          <div slot="label">E-mail</div>
                        </ion-input>
                        <small *ngFor="let validation of validation_messages.Email">
                          <ion-text color="danger"
                            *ngIf="isSubimitted && formEdit.get('Email')?.hasError(validation.type)">
                            {{ validation.message }}
                          </ion-text>
                        </small>
                      </div>

                      <div class="ion-margin-bottom">
                        <ion-input formControlName="Observacao" labelPlacement="floating" fill="outline" #Observacao
                          color="secondary">
                          <div slot="label">Observação</div>
                        </ion-input>
                        <small *ngFor="let validation of validation_messages.Observacao">
                          <ion-text color="danger"
                            *ngIf="isSubimitted && formEdit.get('Observacao')?.hasError(validation.type)">
                            {{ validation.message }}
                          </ion-text>
                        </small>
                      </div>
                    </form>
                  </div>

                  <div [hidden]="true">
                    <ion-row>
                      <ion-col>
                        <ion-label class="title">Nome: </ion-label>
                        <ion-label>{{ pessoa.nome }}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-label class="title">CPF: </ion-label>
                        <ion-label>{{ pessoa.cpf }}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-label class="title">RG: </ion-label>
                        <ion-label>{{ pessoa.rg }}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-label class="title">Tipo: </ion-label>
                        <ion-label>{{ pessoa.tipo }}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-label class="title">Data Nascimento: </ion-label>
                        <ion-label>{{ pessoa.datanasc }}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-label class="title">E-mail: </ion-label>
                        <ion-label>{{ pessoa.email }}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-label class="title">Observação: </ion-label>
                        <ion-label>{{ pessoa.observacao }}</ion-label>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>

                <ion-col size="12" size-md="6" pull-md="6" class="ion-text-center">
                  <ion-label class="title">Imagem {{ pessoa.id }}</ion-label>
                  <div class="img">
                    <ion-img [src]="photoService.photos.webviewPath" alt="Imagem de Pessoa"></ion-img>
                  </div>
                  <!-- [src]="photoService.photos.webviewPath" -->
                  <ion-row>
                    <ion-col>
                      <ion-button color="secondary" (click)="TesteFoto()">
                        <i class="bi bi-camera-fill"></i>
                        <ion-label style="padding-left: 0.3rem;">Tirar Foto</ion-label>
                      </ion-button>

                      <ion-button color="secondary" id="open-modal">
                        <i class="bi bi-image-fill"></i>
                        <ion-label style="padding-left: 0.3rem;">Enviar Foto</ion-label>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>


          </ion-card-content>

          <ion-footer>
            <ion-toolbar color="light">
              <ion-row>
                <ion-col class="ion-text-center ion-text-md-end">
                  <ion-button color="secondary" (click)="SalvarBtn()">
                    <i class="bi bi-save"></i>
                    <ion-label style="padding-left: 0.3rem;">Salvar</ion-label>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-toolbar>
          </ion-footer>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-md="11" size="12">
        <ion-card>
          <ion-card-header class="ion-text-center" color="primary">
            <ion-card-title> Unidade</ion-card-title>
          </ion-card-header>

          <ion-card-content class="ion-margin">
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Modal de Foto -->
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Mudar Foto</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <input type="file" (change)="loadImageFromDevice($event)" id="file-input" accept="image/png, image/jpeg">
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>