<ion-header [translucent]="true">
  <ion-toolbar color="primeiro">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Adicionar Local</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="fundo">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Adicionar Local</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="11" size="12">

        <ion-card>
          <ion-card-header class="ion-text-center" color="secondary">
            <ion-card-title><i class="bi bi-telephone-plus"></i> Adicionar Local</ion-card-title>
          </ion-card-header>

          <ion-card-content class="ion-margin">
            <ion-grid>
              <ion-row class="info">
                <ion-col>
                  <form [formGroup]="formAdd">
                    <ion-row class="ion-text-center ion-margin-bottom">
                      <ion-col>
                        <label class="ion-text-center">
                          Adicionar local para a pessoa {{ pessoa.nome }}
                        </label>
                      </ion-col>

                    </ion-row>

                    <ion-row class="ion-justify-content-center">
                      <ion-col size="12" size-md="6" class="ion-md-margin-bottom">
                        <div>
                          <ion-select formControlName="TelefoneTipo" interface="popover" label-placement="floating" fill="outline" #TelefoneTipo color="secondary">
                            <div slot="label">Local</div>
                            <ion-select-option *ngFor="let l of locais" [value]="l.id">{{ l.local }}</ion-select-option>
                          </ion-select>
                          <small *ngFor="let validation of validation_messages.TelefoneTipo">
                            <ion-text color="danger"
                              *ngIf="isSubimitted && formAdd.get('TelefoneTipo')?.hasError(validation.type)">
                              {{ validation.message }}
                            </ion-text>
                          </small>
                        </div>
                      </ion-col>

                    </ion-row>
                  </form>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>

          <ion-footer>
            <ion-toolbar color="light">
              <ion-row>
                <ion-col class="ion-text-center ion-text-md-end">
                  <ion-button color="secondary" (click)="CreateBtn()">
                    <i class="bi bi-plus-circle"></i>
                    <ion-label style="padding-left: 0.3rem;">Adicionar</ion-label>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-toolbar>
          </ion-footer>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item [button]="true" [detail]="false" id="select-local">
      <ion-label>Local</ion-label>
      <div slot="end" id="selected-local">{{ selectedLocalText }}</div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-modal trigger="select-local" #modal>
  <ng-template>
    <app-typeahead
      class="ion-page"
      title="Selecione o Local a ser Adicionado"
      [items]="locaisSel"
      [selectedItem]="selectedLocal"
      (selectionChange)="selectionChanged($event)"
      (selectionCancel)="modal.dismiss()"
    ></app-typeahead>
  </ng-template>
</ion-modal>