.info{
    font-size: 1.1rem;
}

.title{
    color: var(--ion-color-dark);
    //font-weight: bold;
}

// Tabela
.table{
    border-collapse: collapse;
    width: 100%;

    td, th{
        border: 1px solid var(--ion-color-dark); 
        padding: 7px;
    }
    th{
        color: var(--ion-color-secondary-contrast);
    }
    td{
        color: var(--ion-color-dark);
    }

    tr:nth-child(even){}

    tr:hover {}
}

.visitas{
    th {
        text-align: left;
        background-color: var(--ion-color-success);
    }
}

.normal{
    th {
        text-align: left;
        background-color: var(--ion-color-secundario);
    }
}
