<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Residente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size-md="7" size="12">

      <ion-card>
        <ion-card-header class="basic">
          <ion-card-title color="basic">Meus Dados</ion-card-title>
        </ion-card-header>
    
        <ion-card-content class="ion-margin">
            
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size-md="7" size="12">
      <ion-card>
        <ion-card-header color="success">
          <ion-card-title>Meus Visitantes de Hoje</ion-card-title>
        </ion-card-header>
    
        <ion-card-content class="ion-margin">
          
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size-md="7" size="12">

      <ion-card>
        <ion-card-header class="basic">
          <ion-card-title color="basic">Meus Vinculos</ion-card-title>
        </ion-card-header>
    
        <ion-card-content class="ion-margin">
            
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size-md="7" size="12">

      <ion-card>
        <ion-card-header class="basic">
          <ion-card-title color="basic">Empresas para Entrega</ion-card-title>
        </ion-card-header>
    
        <ion-card-content class="ion-margin">
            
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>
  
  
</ion-content>
