.basic{
    text-align: center;
    background-color: #d9edf7;
    --ion-color: #31708f;
    background-image: linear-gradient(to bottom,#d9edf7 0,#c4e3f3 100%);
}

ion-card{
    background-color: #fff;
    border-color: #bce8f1;
}

.info{
    font-size: 1.1rem;
}

.title{
    color: var(--ion-color-dark);
    //font-weight: bold;
}
