<ion-header [translucent]="true">
  <ion-toolbar color="primeiro">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><i class="bi bi-box-arrow-in-right"></i> Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="fundo">
  <ion-row>
    <ion-col size-md="7" size="12">
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size-md="7" size-lg="5" size="9">
      <ion-card>
        <ion-card-header class="ion-text-center" color="secondary">
          <ion-card-title >Dados de Acesso</ion-card-title>
        </ion-card-header>
        
        <form [formGroup]="formLogin">
          <ion-card-content>
            <ion-row class="ion-margin">
              <div class="ion-margin-bottom" style="width: 100%;">
                <ion-input formControlName="Usuario" labelPlacement="floating" fill="outline" #Usuario color="secondary">
                  <div slot="label">Usuário</div>
                </ion-input>

                <small *ngFor="let validation of validation_messages.Usuario">
                  <ion-text color="danger" *ngIf="isSubimitted && formLogin.get('Usuario')?.hasError(validation.type)">
                    {{ validation.message }}
                  </ion-text>
                </small>
              </div>
              
              <div class="ion-margin-bottom" style="width: 100%;">
                <ion-input formControlName="Senha" labelPlacement="floating" type="password" fill="outline" [clearOnEdit]="false" #Senha color="secondary">
                  <div slot="label" >Senha</div>
                </ion-input>

                <small *ngFor="let validation of validation_messages.Senha">
                  <ion-text color="danger" *ngIf="isSubimitted && formLogin.get('Senha')?.hasError(validation.type)">
                    {{ validation.message }}
                  </ion-text>
                </small>
              </div>
              
              <ion-row style="width: 100%;">
                <ion-col size="6">
                  <ion-checkbox formControlName="Lembrar" color="secondary">Lembrar?</ion-checkbox>
                </ion-col>
                <ion-col class="" size="6" style="text-align: end;">
                  <a [routerLink]="['/primeiroacesso']" color="secondary">Primeiro acesso Residente?</a>
                </ion-col>
              </ion-row>
              
            </ion-row>
          </ion-card-content>

          <ion-row class="card-footer ion-justify-content-center">
            <!--(click)="OnClickSubmit()"  [formGroup]="formPAcesso"
            formControlName="Usuario" formControlName="Senha"-->
            <ion-button color="secundario" (click)="OnClickSubmit()" color="secondary">
              <i class="bi bi-save2"></i> 
              <span style="padding-left: 0.3rem;"> Enviar</span>
            </ion-button>
          </ion-row>
        </form>
        

      </ion-card>
    </ion-col>

  </ion-row>
</ion-content>
