<ion-header [translucent]="true">
  <ion-toolbar color="primeiro">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pessoas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="fundo">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pessoas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row class="ion-justify-content-center teste">
    <ion-col size-md="11" size="12">
      <ion-card>
        <ion-card-header class="ion-text-center" color="secondary">
          <ion-card-title><i class="bi bi-people-fill"></i> Pessoas</ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-margin">

          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
          </mat-form-field>

          <div class="mat-elevation-z8">
            <mat-table [dataSource]="dataSource" matSort class="mat-table"> <!-- multiTemplateDataRows -->

              <!-- Coluna para Expandir -->
              <!--<ng-container matColumnDef="expand">
                <mat-header-cell *matHeaderCellDef aria-label="row actions" class="desktop-hidden">&nbsp;</th>
                <mat-cell *matCellDef="let element" class="desktop-hidden">
                  <button mat-icon-button aria-label="expand row"
                    (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                    <div *ngIf="expandedElement === element">
                      <mat-icon>keyboard_arrow_up</mat-icon>
                    </div>
                    <div *ngIf="!(expandedElement === element)">
                      <mat-icon>keyboard_arrow_down</mat-icon>
                    </div>
                  </button>
                </td>
              </ng-container>-->

              <!-- ID Coluna -->
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header [style.flex]="'0 0 0%'"> ID </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="ID" [style.flex]="'0 0 0%'"> {{row.id}} </mat-cell>
              </ng-container>

              <!-- Nome Coluna -->
              <ng-container matColumnDef="nome">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="Nome"> {{row.nome}} </mat-cell>
              </ng-container>

              <!-- RG Coluna -->
              <ng-container matColumnDef="rg">
                <mat-header-cell *matHeaderCellDef mat-sort-header> RG </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="RG" > {{row.rg}} </mat-cell>
              </ng-container>

              <!-- CPF Coluna -->
              <ng-container matColumnDef="cpf">
                <mat-header-cell *matHeaderCellDef mat-sort-header> CPF </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="CPF"> {{row.cpf}} </mat-cell>
              </ng-container>

              <!-- Data Nascimento Coluna -->
              <ng-container matColumnDef="datanasc">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Data de Nascimento
                </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="Data de Nascimento"> {{row.datanasc}} </mat-cell>
              </ng-container>

              <!-- E-mail Coluna -->
              <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="E-mail"> {{row.email}} </mat-cell>
              </ng-container>

              <!-- Tipo Coluna -->
              <ng-container matColumnDef="tipo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="Tipo"> {{row.tipo}} </mat-cell>
              </ng-container>

              <!-- Data Coluna -->
              <ng-container matColumnDef="data">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Data </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="Data"> {{row.data}} </mat-cell>
              </ng-container>

              <!-- Ações Coluna -->
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef [style.flex]="'3 0 0%'"> Ações </mat-header-cell>
                <mat-cell *matCellDef="let row" class="ion-text-center" [style.flex]="'3 0 0%'">
                  <div>
                    <ion-button color="" [routerLink]="['./edit', row.id]" >
                      <i class="bi bi-pencil-fill"></i>
                    </ion-button>
                    <ion-button color="info" [routerLink]="['./imagem', row.id]">
                      <i class="bi bi-image"></i>
                    </ion-button>
                    <ion-button color="success" [routerLink]="['./enviar', row.id]">
                      <i class="bi bi-box-arrow-in-right"></i>
                    </ion-button>
                    <ion-button color="danger" [routerLink]="['./delete', row.id]">
                      <i class="bi bi-trash-fill"></i>
                    </ion-button>
                  </div>

                </mat-cell>
              </ng-container>


              <!-- Layout dos Detalhes de uma linha -->
              <!--<ng-container matColumnDef="expandedDetail">
                <mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                  <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="example-element-diagram">
                      <div class="example-element-position"> {{element.nome}} Teste</div>
                      <div class="example-element-symbol"> {{element.id}} </div>
                      <div class="example-element-name"> {{element.rg}} </div>
                      <div class="example-element-weight"> {{element.cpf}} </div>
                    </div>
                  </div>
                </td>
              </ng-container>-->


              <!-- Renderização da Tabela --
              <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
              <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
              </tr>
              <!--<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>-->

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row ion-text-center ion-margin" *matNoDataRow>
                <td class="mat-cell" colspan="11">Não tem nenhuma informação com o valor "{{input.value}}"</td>
              </tr>

            </mat-table>

            <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>




        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>