/* Brakpoints de Quando certos elementos vão desaparecer da tabela */
@media screen and (max-width: 800px) {
  .mobile4-hidden {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .mobile3-hidden {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .mobile2-hidden {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .mobile1-hidden {
    display: none;
  }
}


@media screen and (min-width: 800px) {
  .desktop-hidden {
    display: none;
  }
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}