/* Brakpoints de Quando certos elementos vão desaparecer da tabela */
/*@media screen and (max-width: 800px) {
  .mobile4-hidden {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .mobile3-hidden {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .mobile2-hidden {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .mobile1-hidden {
    display: none;
  }
}


@media screen and (min-width: 800px) {
  .desktop-hidden {
    display: none;
  }
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}*/



@media screen and (max-width: 960px) {

  mat-table {
    border: 0;
    vertical-align: middle
  }


  mat-table caption {
    font-size: 1em;
  }

  /*  Enable this to hide header*/
  mat-table mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  mat-table mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }

  /*
  .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF}
  */
  mat-table mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height: 30px;
    margin-bottom: 4%;
  }

  mat-table mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;

    font-size: .85em;
  }

  mat-table mat-cell:last-child {
    border-bottom: 0;
  }

  mat-table mat-cell:first-child {
    margin-top: 4%;
  }
}