<ion-header [translucent]="true">
  <ion-toolbar color="primeiro">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Adicionar Vínculo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="fundo">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Adicionar Vínculo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="11" size="12">

        <ion-card>
          <ion-card-header class="ion-text-center" color="secondary">
            <ion-card-title><i class="bi bi-car-front"></i> Adicionar Vínculo</ion-card-title>
          </ion-card-header>

          <ion-card-content class="ion-margin">
            <ion-grid>
              <ion-row class="info">
                <ion-col>
                  <form [formGroup]="formAdd">
                    <ion-row class="ion-text-center ion-margin-bottom">
                      <ion-col>
                        <label class="ion-text-center">
                          Adicionar vínculo para a pessoa {{ pessoa.nome }}
                        </label>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col size="12" size-md="6" class="ion-md-margin-bottom">
                        <div>
                          <ion-input formControlName="Fabricante" labelPlacement="floating" fill="outline" #Fabricante
                            color="secondary">
                            <div slot="label">Fabricante</div>
                          </ion-input>
                          <small *ngFor="let validation of validation_messages.Fabricante">
                            <ion-text color="danger"
                              *ngIf="isSubimitted && formAdd.get('Fabricante')?.hasError(validation.type)">
                              {{ validation.message }}
                            </ion-text>
                          </small>
                        </div>
                      </ion-col>

                      <ion-col size="12" size-md="6" class="ion-md-margin-bottom" >
                        <div>
                          <ion-input formControlName="Renavan" labelPlacement="floating" fill="outline" #Renavan
                            color="secondary">
                            <div slot="label">Renavan</div>
                          </ion-input>
                          <small *ngFor="let validation of validation_messages.Renavan">
                            <ion-text color="danger"
                              *ngIf="isSubimitted && formAdd.get('Renavan')?.hasError(validation.type)">
                              {{ validation.message }}
                            </ion-text>
                          </small>
                        </div>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      

                      <ion-col size="12" size-md="4" class="ion-md-margin-bottom">
                        <div>
                          <ion-input formControlName="Modelo" labelPlacement="floating" fill="outline" #Modelo
                            color="secondary">
                            <div slot="label">Modelo</div>
                          </ion-input>
                          <small *ngFor="let validation of validation_messages.Modelo">
                            <ion-text color="danger"
                              *ngIf="isSubimitted && formAdd.get('Modelo')?.hasError(validation.type)">
                              {{ validation.message }}
                            </ion-text>
                          </small>
                        </div>
                      </ion-col>

                      <ion-col size="12" size-md="4" class="ion-md-margin-bottom" >
                        <div>
                          <ion-input formControlName="Placa" labelPlacement="floating" fill="outline" #Placa
                            color="secondary">
                            <div slot="label">Placa</div>
                          </ion-input>
                          <small *ngFor="let validation of validation_messages.Placa">
                            <ion-text color="danger"
                              *ngIf="isSubimitted && formAdd.get('Placa')?.hasError(validation.type)">
                              {{ validation.message }}
                            </ion-text>
                          </small>
                        </div>
                      </ion-col>

                      <ion-col size="12" size-md="4" class="ion-md-margin-bottom" >
                        <div>
                          <ion-input formControlName="Cor" labelPlacement="floating" fill="outline" #Cor
                            color="secondary" maxlength="12">
                            <div slot="label">Cor</div>
                          </ion-input>
                          <small *ngFor="let validation of validation_messages.Cor">
                            <ion-text color="danger"
                              *ngIf="isSubimitted && formAdd.get('Cor')?.hasError(validation.type)">
                              {{ validation.message }}
                            </ion-text>
                          </small>
                        </div>
                      </ion-col>

                      

                    </ion-row>
                  </form>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>

          <ion-footer>
            <ion-toolbar color="light">
              <ion-row>
                <ion-col class="ion-text-center ion-text-md-end">
                  <ion-button color="secondary" (click)="CreateBtn()">
                    <i class="bi bi-plus-circle"></i>
                    <ion-label style="padding-left: 0.3rem;">Adicionar</ion-label>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-toolbar>
          </ion-footer>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>