<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Primeiro Acesso Morador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="teste">
  <ion-row class="ion-justify-content-center">
    <ion-col size-md="7" size="12">

      <ion-card>
        <ion-card-header class="header">
          <div>
            <ion-card-title color="header">Cadastro de Residente para acesso ao sistema</ion-card-title>
          </div>
        </ion-card-header>
    
        <form [formGroup]="formPAcesso">
          <ion-card-content class="ion-margin">
  
            <div class="ion-margin-bottom">
              <ion-input formControlName="Cpf" labelPlacement="floating" fill="outline" #RG 
                (ionInput)="OnKeyUpCpf($event)" placeholder="" >
                <div slot="label" >Cpf</div>
              </ion-input>
              
              <small *ngFor="let validation of validation_messages.Cpf">
                <ion-text color="danger" *ngIf="isSubimitted && formPAcesso.get('Cpf')?.hasError(validation.type)">
                  {{ validation.message }}
                </ion-text>
              </small>
            </div>
            
              
            <div [hidden]="ishidden">

              <div class="ion-margin-bottom">
                <ion-input formControlName="Nome" labelPlacement="floating" fill="outline" #Nome >
                  <div slot="label">Nome</div>
                </ion-input>
                <small *ngFor="let validation of validation_messages.Nome">
                  <ion-text color="danger" *ngIf="isSubimitted && formPAcesso.get('Nome')?.hasError(validation.type)">
                    {{ validation.message }}
                  </ion-text>
                </small>
              </div>
              

              <div class="ion-margin-bottom">
                <ion-input formControlName="Email" labelPlacement="floating" type="email" fill="outline" #Email >
                  <div slot="label" >E-mail para acesso</div>
                </ion-input>
                <small *ngFor="let validation of validation_messages.Email">
                  <ion-text color="danger" *ngIf="isSubimitted && formPAcesso.get('Email')?.hasError(validation.type)">
                    {{ validation.message }}
                  </ion-text>
                </small>
              </div>
              

              <div class="ion-margin-bottom">
                <ion-input formControlName="Senha" labelPlacement="floating" type="password" fill="outline" [clearOnEdit]="false" #Senha >
                  <div slot="label" >Senha</div>
                </ion-input>
                <small *ngFor="let validation of validation_messages.Senha">
                  <ion-text color="danger" *ngIf="isSubimitted && formPAcesso.get('Senha')?.hasError(validation.type)">
                    {{ validation.message }}
                  </ion-text>
                </small>
              </div>

              <div class="ion-margin-bottom">
                <ion-input formControlName="ConfSenha" labelPlacement="floating" type="password" fill="outline" [clearOnEdit]="false" #ConfSenha >
                  <div slot="label" >Confirme a Senha</div>
                </ion-input>
                <small *ngFor="let validation of validation_messages.ConfSenha">
                  <ion-text color="danger" *ngIf="isSubimitted && formPAcesso.get('ConfSenha')?.hasError(validation.type)">
                    {{ validation.message }}
                  </ion-text>
                </small>
              </div>
              
            </div>

          </ion-card-content>

          <ion-row class="card-footer ion-justify-content-center">
            <ion-button (click)="OnClickSubmit()">
              Salvar
            </ion-button>
          </ion-row>

        </form>
      </ion-card>

    </ion-col>
  </ion-row>
  
  
</ion-content>


