<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Primeiro Acesso Morador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="7">

      <ion-card>
        <ion-card-header>
          <div>
            <ion-card-title>Cadastro de Residente para acesso ao sistema</ion-card-title>
          </div>
        </ion-card-header>
    
        <form [formGroup]="formPAcesso">
          <ion-card-content>
          
            <div>
              <ion-input formControlName="Rg" labelPlacement="floating" fill="outline" #RG (ionInput)="OnKeyUpRg($event)" >
                <div slot="label" >Rg</div>
              </ion-input>
              <small *ngFor="let validation of validation_messages.Rg">
                <ion-text color="danger" *ngIf="isSubimitted && formPAcesso.get('Rg')?.hasError(validation.type)">
                  {{ validation.message }}
                </ion-text>
              </small>
            </div>
            
              
            <div [hidden]="ishidden">
              <div>
                <ion-input formControlName="Nome" labelPlacement="floating" fill="outline" #Nome >
                  <div slot="label">Nome</div>
                </ion-input>
                <small *ngFor="let validation of validation_messages.Nome">
                  <ion-text color="danger" *ngIf="isSubimitted && formPAcesso.get('Nome')?.hasError(validation.type)">
                    {{ validation.message }}
                  </ion-text>
                </small>
              </div>
              

              <div>
                <ion-input formControlName="Email" labelPlacement="floating" type="email" fill="outline" #Email >
                  <div slot="label" >E-mail para acesso</div>
                </ion-input>
                <small *ngFor="let validation of validation_messages.Email">
                  <ion-text color="danger" *ngIf="isSubimitted && formPAcesso.get('Email')?.hasError(validation.type)">
                    {{ validation.message }}
                  </ion-text>
                </small>
              </div>
              

              <div>
                <ion-input formControlName="Senha" labelPlacement="floating" type="password" fill="outline" #Senha >
                  <div slot="label" >Senha</div>
                </ion-input>
                <small *ngFor="let validation of validation_messages.Senha">
                  <ion-text color="danger" *ngIf="isSubimitted && formPAcesso.get('Senha')?.hasError(validation.type)">
                    {{ validation.message }}
                  </ion-text>
                </small>
              </div>

              <div>
                <ion-input formControlName="ConfSenha" labelPlacement="floating" type="password" fill="outline" #ConfSenha >
                  <div slot="label" >Confirme a Senha</div>
                </ion-input>
                <small *ngFor="let validation of validation_messages.ConfSenha">
                  <ion-text color="danger" *ngIf="isSubimitted && formPAcesso.get('ConfSenha')?.hasError(validation.type)">
                    {{ validation.message }}
                  </ion-text>
                </small>
              </div>
              
            </div>

          </ion-card-content>

          <div>
            <ion-button (click)="OnClickSubmit()">
              Salvar2
            </ion-button>
          </div>

        </form>
      </ion-card>

    </ion-col>
  </ion-row>
  
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>
